:root {
  --primary-color: #ff0000;
  --secondary-color: #adadad;
  --background-color: #000;
  --text-color: #fff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-color: var(--background-color);
}
#game-header{
  display: flex;
  flex-direction: column;  
  justify-content: space-around;
  align-items: center;
  
  height: 10vh;
  background-color: var(--background-color);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
#game-title{
  color: var(--text-color);
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 1rem;
  text-align: center;
}
#game-score, #game-timer{
  color: var(--text-color);
  font-size: 2rem;
  font-weight: bolder;
}
#game-area {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  height: 75%; 
}
#game-over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 10px;
  width: 20%;
  height: 50%;
  z-index: 9999;
  display: none;
}
#game-over-text {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: bolder;
}
#game-over p{
  color: var(--text-color);
  font-size: 1rem;
  font-weight: normal;
}
.square {
  height: 100%;
  aspect-ratio: 1/1;
  
  border: 1px solid var(--secondary-color);
  place-self: center;
  cursor: pointer;
}

.square[data-active="true"] {
  background-color: var(--background-color) ;
}
.square[data-active="false"]{

  background-color: var(--text-color);
} 